# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Variáveis de Ambiente e Cofres de Senhas (EXTREMAMENTE CRÍTICO)
.env
.env.local
.env.development
.env.test
.env.production

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
